/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Body*/
body {
    background-color: #f4f6f8;
    height: 100vh; 
}

/* Main Layout*/
.layout {
    display: flex; 
    height: 100vh;
    width: 100%;
}

/*Sidebar  */
.sidebar {
    width: 220px;
    background-color: #1e1e2f;
    color: white;
    padding: 20px;
}

/* Hamburger / Logo */
.logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
}

/* Navigation Links */
.nav-links {
    list-style: none;
} 

.nav-links li {
    padding: 12px 14px;
    margin-bottom: 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

/* Hover Effect */
.nav-links li:hover {
    background-color: #2c2c44;
}

/* Active Page */
.nav-links .active {
    background-color: #4a6cf7;
}

/*Main Content */
.main {
    flex: 1;
    padding: 30px 40px;
    overflow-y: auto;
}

/* Heading */
.main h1 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #222;
}

/*  Cards */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    width: 260px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    position : relative;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
    margin-top: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
}

/*To add more cards*/
.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #1e1e2f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
} 

.tracker-layout {
  display: flex;
  gap: 20px;
}

 .cards-container {
  flex: 2;
} 

.table-container {
  flex: 1;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background: #f5f5f5;
}

#problemsList{
     margin-top: 20px;   /* distance from Add button */
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tracker-header{
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
.done-btn {
  background: #22c55e;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

#resetBtn {
  position: fixed;
  top: 15px;
  right: 20px;
  background: #e63946;
  color: white;
  border: none;
  padding: 8px 14px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

#resetBtn:hover {
  background: #d62828;
}
